aiohappyeyeballs
aiohttp
aiosignal
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
cuda-bindings
cuda-pathfinder
Faker
filelock
frozenlist
fsspec
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
MarkupSafe
mpmath
multidict
narwhals
networkx
numpy
# nvidia-cublas-cu12
# nvidia-cuda-cupti-cu12
# nvidia-cuda-nvrtc-cu12
# nvidia-cuda-runtime-cu12
# nvidia-cudnn-cu12
# nvidia-cufft-cu12
# nvidia-cufile-cu12
# nvidia-curand-cu12
# nvidia-cusolver-cu12
# nvidia-cusparse-cu12
# nvidia-cusparselt-cu12
# nvidia-nccl-cu12
# nvidia-nvjitlink-cu12
# nvidia-nvshmem-cu12
# nvidia-nvtx-cu12
packaging
pandas
pillow
plotly
propcache
protobuf
psutil
pyarrow
pydeck
pyparsing
python-dateutil
pytz
rdflib
referencing
requests
rpds-py
scikit-learn
scipy
setuptools
six
smmap
streamlit
streamlit-agraph
sympy
tenacity
threadpoolctl
toml
torch
torch-geometric
tornado
tqdm
#triton
typing_extensions
tzdata
urllib3
watchdog
xxhash
yarl
